<div class="result">
    <div>
        Label: <%=result.sentiment.document.label%>
    </div>
    <div>
        Sentiment Score: <%=result.sentiment.document.score%>
    </div>
    <p><%=result.analyzed_text%></p>
</div>